body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: grey;
    padding-bottom: 0;

}

form {
    width: 410px;
    margin: 0 auto;
    
}
.form-container {
    border: 2px solid #0a0202; /* Ajuste a espessura e a cor da borda conforme necessário */
    padding: 20px;
    border-radius: 5px; /* Adiciona cantos arredondados */
    
  }
label {
    display: block;
    margin-bottom: 5px;
}
h1{
    text-align: center;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}