body{
    background-color: rgba(148, 156, 57, 0.9);
    padding-bottom: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.destaque {
    background-color: #fff;
    padding: 20px;
}

.busca {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.imoveis {
    background-color: #fff;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos 1  específicos para cada elemento serão adicionados aqui */